<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "*", edit_user_path(@user) %></p>
  <% end %>
</div>

<% render "books/new", books: @books %>

<h1>Books</h1>
<%= render "books/list", books: @books %>

